<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>index</title>
	<script src="vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>

</head>
<body>
	
	<div id="app">
		{{ message }}
	</div>

	<div id="app-2">
		<span v-bind:title="message">
			鼠标悬停几秒钟查看此处动态绑定的信息！
		</span>
	</div>

	<div id="app-3">
		<span v-if="seen">你看到我了</span>
	</div>

	<div id="app-4">
		<ol>
			<li v-for="todo in todos">
				{{ todo.text }}
			</li>
		</ol>
	</div>

	<div id="app-5">
		<p>{{message}}</p>
		<button v-on:click="reversemessage">逆转消息</button>
	</div>

	<div id="app-6">
		<p>{{message}}</p>
		<input type="text" v-model="message">
	</div>

	<div id="app-7">
		<ol>
			<todo-item
				v-for="item in groceryList"
				v-bind:todo="item"
				v-bind:key="item.id">
			</todo-item>
		</ol>
	</div>
	
	<div id="app-8">
		<p>{{ foo }}</p>
		<!--  这里的foo 不会更新-->
		<button v-on:click="foo = 'baz'">change it</button>
	</div>

	<div id="example">
		<p>{{ a }}</p>
	</div>

	<!--//计算属性 -->
	<div id="example2">
		<p>Original message:"{{ message }}"</p>
		<p>Computed reversed message:"{{ reversedMessage }}"</p>
	</div>

	<!-- 侦听属性 -->
	<div id="example3">
		<p>{{ fullname }}</p>
	</div>

	<div id="watch-example">
		<p>
			Ask a yes/no question:
			<input v-model = "question">
		</p>
		<p>{{ answer }}</p>
	</div>

	<div id="app9" class="static"
		v-bind:class="{ active:isActive, 'text-danger': hasError}">
		<p>panbin</p>
	</div>
	
	<my-component class="baz boo"></my-component>
	
	<div v-bind:style="styleObject" id='app10'
	>{{ bind }}</div>

    <!--条件渲染 -->
	<div id="app11">
		<!-- <h1 v-if="ok">YES</h1>
		<h1 v-else>NO</h1> -->
		<template v-if="ok">
		  <h1>Title</h1>
		  <p>Paragraph 1</p>
		  <p>Paragraph 2</p>
		</template>
		<div v-if="type === 'A'">
		  A
		</div>
		<div v-else-if="type === 'B'">
		  B
		</div>
		<div v-else-if="type === 'C'">
		  C
		</div>
		<div v-else>
		  Not A/B/C
		</div>
	</div>

	<div v-if="Math.random() > 0.5">
	  Now you see me
	</div>
	<div v-else>
	  Now you don't
	</div>
	<!-- 用 key 管理可复用的元素 -->
	<div id="app12">
		<template v-if="loginType === 'username'">
			<label>Username</label>
			<input placeholder="Enter your username"  key="username-input">
		</template>
		<template v-else>
			<label>Email</label>
			<input placeholder="Enter your email address" key="email-input">
		</template>
		<div>
			<button>Toggle login type</button>
		</div>
	</div>









	<script type="text/javascript">
	var app = new Vue({
		el:'#app',
		data:{
			message:'Hello Vue!'
		}
	})

	var app2 = new Vue({
		el:"#app-2",
		data:{
			message:'页面加载于' + new Date().toLocaleString()
		}
	})	

	var app3 = new Vue({
		el:"#app-3",
		data:{
			seen:true
		}
	})
	var app4 = new Vue({
		el:"#app-4",
		data:{
			todos:[
				{text:'学习php'},
				{text:'学习vue'},
				{text:'学习java'}
			]
		}
	})

	var app5 = new Vue({
		el:"#app-5",
		data:{
			message:'Hello Vue!'
		},
		methods:{
			reversemessage:function(){
				this.message = this.message.split('').reverse().join('')
			}
		}
	})

	var app6 = new Vue({
		el:"#app-6",
		data:{
			message:'Hello vue!'
		}
	})

	Vue.component('todo-item',{
		props: ['todo'],
		template:'<li>{{ todo.text }}</li>'
	})

	var app7 = new Vue({
		el:'#app-7',
		data: {
			groceryList:[
				{id:0, text:'蔬菜'},
				{id:1, text:'水果'},
				{id:2, text:'奶酪'}
			]
		}
	})

	var obj = {
		foo:'bar'
	}

	//计算字段
    

	//使用 Object.freeze()会阻止修改现有的属性，系统无法追踪属性变化
	Object.freeze(obj);
	var app8 = new Vue({
		el:'#app-8',
		data:obj
	})

	var data = {a:1}
	var vm = new Vue({
		el:'#example',
		data:data
	})

	console.log(vm.$data === data);
	console.log(vm.$el 	 === document.getElementById('example'));
	// $watch是一个实例方法
	vm.$watch('a', function (newValue, oldValue){
		// 这个回调将 vm.a 改变后调用
		alert(oldValue + ' 改成了 ' +newValue);
	})

	// 生命周期钩子
	new Vue({
		data:{
			a:1
		},
		created:function(){
			// this 指向vm 实例
			console.log('a is:' + this.a);
		}
	})

	var example2 = new Vue({
		el:'#example2',
		data:{
			message:'Hello'
		},
		computed:{
			//计算属性的 getter
			reversedMessage:function(){
				// this 指向 vm实例
				return this.message.split('').reverse().join('')
			}
		}
	})

	// 侦听属性
    var example3 = new Vue({
    	el:'#example3',
    	data:{
    		firstName:'foo',
    		lastName:'bar'
    	},
    	computed:{
    		// fullname:function(){
    		// 	return this.firstName + ' ' + this.lastName;
    		// }
    		fullname:{
    			//getter
    			get:function(){
	    			return this.firstName + ' ' + this.lastName;
    			},
    			//setter
    			set:function(newValue){
    				var names = newValue.split(' ')
    				this.firstName = names[0]
    				this.lastName  = names[names.length-1]
    			}

    		}
    	}
    })

    //侦听器
    var watchExampleVM = new Vue({
    	el:'#watch-example',
    	data:{
    		question:'',
    		answer:'I connot give you an answer until you ask a question!'
    	},
    	watch:{
    		// 如果 question 发生改变，这个函数就会运行
    		question:function (newQuestion, oldQuestion){
    			this.answer = 'Waiting for you to stop typing...'
    			this.debouncedGetAnswer()
    		}
    	},
    	created:function(){
    		this.debouncedGetAnswer = _.debounce(this.getAnswer, 500)
    	},
    	methods:{
    		getAnswer:function(){
    			if(this.question.indexOf('?') === -1){
    				this.answer = 'Questions usually contain a question mark. ;-)'
    				return
    			}
    			this.answer = 'Thinking...'
    			var vm = this
    			axios.get('https://yesno.wtf/api')
    				.then(function(response){
    					vm.answer = _.capitalize(response.data.answer)
    				})
    				.catch(function(error){
    					vm.answer = 'Error! Could not reach the API' + error
    				})
    		}
    	}
    })

    //v-bind:class class与Style绑定
    var app9 = new Vue({
    	el:'#app9',
    	data:{
    		isActive:true,
    		hasError:false
    	}
    })

    Vue.component('my-component',{
    	template:'<p class="foo bar">Hi</p>'
    })

    var app10 = new Vue({
    	el:'#app10',
    	data:{
    		bind:'vue',
    		styleObject: {
		    color: 'red',
		    fontSize: '13px'
		  }
    	}
    })

    //条件渲染
    var app11 = new Vue({
    	el:'#app11',
    	data:{
    		ok:false,
    		type:'A'
    	}
    })
    var app12 = new Vue({
    	el:'#app12',
    	data:{
    		loginType:'username'
    	},
    	methods:{
    		changeType:function(){
    			this.loginType = 'email'
    		}
    	}
    })












    
	</script>
</body>
</html>